# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"

ORIGIN=""
BETTER_AUTH_URL=""
PUBLIC_APP_URL=""
PUBLIC_GITHUB_APP_SLUG="repomind"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# GitHub App
GITHUB_APP_ID=""
GITHUB_APP_PRIVATE_KEY=""
GITHUB_WEBHOOK_SECRET=""

# GitHub OAuth
# https://www.better-auth.com/docs/authentication/github
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Scheduled tasks
INTERNAL_TASK_SECRET=""

# AI
AI_PROVIDER=""
DEEPSEEK_API_KEY=""
DEEPSEEK_BASE_URL="https://api.deepseek.com/v1"
OPENAI_API_KEY=""
GOOGLE_AI_API_KEY=""

# Email
RESEND_API_KEY=""
RESEND_FROM="RepoMind <reminders@example.com>"
